<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zxl.com.myapplication">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>

        <activity android:name="activity.ShowNewsActivity"/>
        <activity android:name="activity.ShowChengYuActivity"/>
        <activity android:name="activity.Error"/>
        <activity android:name="activity.SearchChengYuActivity"/>
        <activity android:name="activity.ShowShouCangZuJiListActivity"/>
        <activity android:name="activity.GuideActivity"/>
        <activity android:name="activity.OrderBuShouSearchActivity"/>
        <activity android:name="activity.OrderPinYinSearchActivity"/>
        <activity android:name="activity.ShowHanZiResultList"/>
        <activity android:name="activity.ShowHanZiActivity"/>
        <activity android:name="activity.SearchHanZiActivity"/>
        <activity android:name="activity.ShowShouCangHanZiListActivity"/>
        <activity android:name="activity.ShowQuWeiHanZiActivity"/>
        <activity android:name="activity.QuWeiHanZiActivity"/>
    </application>



</manifest>